<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" style="background: linear-gradient(to right, #cc2b5e, #753A88);">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="{% if request.user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'home' %}{% endif %}">
            <i class="fas fa-book nav-icon"></i>&nbsp;SigmaBooks
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
            {% include 'partials/menu.html' %}
        {% endif %}
    </div>
</nav>
